<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p id="NewTxt">
        テキストに<%= new_line %>
    </p>
    <p id="NewTxt">
        テキストは<%= Character_type1 %>の<%= Character_type2 %>
    </p>
    <p id="NewTxt">
        <%= code %> から EUC に変換したテキストは ==> <%= New_txt %>
    </p>

</body>
</html>